<%= form_for @racket, method: :patch do |f| %>
  <h1>ラケット 情報更新</h1>
  <h2>更新したい情報を編集してください</h2>
    <p>名前:<%= f.text_field :name %></p>
    <p>値段:<%= f.text_field :price %></p>
    <p>種類:<%= f.text_field :kind %></p>
    <p>画像:<%= f.file_field :image %></p>
    <p><%= f.check_box :remove_image %>更新する前の画像を削除する</p>
  <input type="submit" value="送信">
<% end %>
