<h2>ラケット 情報更新</h2>
  <%= form_for @racket, method: :patch do |f| %>
    <div class="mb-3">更新したい情報を編集してください</div>
      <div class="mb-2">名前:<%= f.text_field :name %></div>
      <div class="mb-2">値段:<%= f.text_field :price %></div>
      <div class="mb-2">種類:<%= f.text_field :kind %></div>
      <div class="mb-2">画像:<%= f.file_field :image, id: :racket_image %></div>
      <script type="text/javascript">
        $(function() {
         function readURL(input) {
           if (input.files && input.files[0]) {
             var reader = new FileReader();
             reader.onload = function (e) {
               $('#image_prev').attr('src', e.target.result);
             }
             reader.readAsDataURL(input.files[0]);
           }
         }
         $("#racket_image").change(function(){
           readURL(this);
         });
        });
      </script>
      <%= image_tag @racket.image_url(:thumb).to_s, id: :image_prev if @racket.image? %>
      <p><%= f.check_box :remove_image %>現在の画像を削除する</p>
    <input type="submit" value="送信">
  <% end %>
