<%= form_tag(root_path, method: :get) do %>
  <div class="my-md-3">名前:<%= text_field_tag :search_name %></div>
  <div class="my-md-2">種類:<%= text_field_tag :search_kind %></div>
  <div class="mb-2"><%= submit_tag '検索' %></div>
<% end %>

<% if user_signed_in? %>
  <% @rackets.each do |racket| %>
    <div class="mb-4">
      <%= image_tag racket.image_url(:thumb).to_s %>
      <%= racket.name %>
      <%= racket.price %>円
      <%= racket.kind %>

      <%= link_to "詳細", racket_path(racket) %>
      <%= link_to "編集", edit_racket_path(racket) %>
      <%= link_to "削除", racket_path(racket), method: :delete, data: {confirm: "削除しますか？"} %>
    </div>
  <% end %>
<% else %>
  <% @rackets.each do |racket| %>
    <div class="mb-4">
      <%= image_tag racket.image_url(:thumb).to_s %>
      <%= racket.name %>
      <%= racket.price %>円
      <%= racket.kind %>
      <%= link_to "詳細", racket_path(racket) %>
      <%= link_to "編集", edit_racket_path(racket) %>
    </div>
  <% end %>
<% end %>

<%= paginate @rackets %>
