<h1>ラケット 詳細情報</h1>
  <div class="mb-2">名前:<%= @racket.name %></div>
  <div class="mb-2">値段:<%= @racket.price %>円</div>
  <div class="mb-2">種類:<%= @racket.kind %></div>
  <div class="mb-2">画像:<%= image_tag @racket.image_url(:thumb).to_s %></div>
  <%= link_to "削除", racket_path(@racket), method: :delete, data: {confirm: "削除しますか？"} %>
  <%= link_to "編集", edit_racket_path(@racket) %>
